# {{ ansible_managed }}
127.0.0.1	localhost
{% if not('cloud-encoders' in group_names) %}
172.20.22.132   reviewmaster.video.fosdem.org reviewmaster
172.20.22.133   reviewstorage.video.fosdem.org reviewstorage
172.20.22.210   encoder1.video.fosdem.org encoder1
172.20.22.218   encoder3.video.fosdem.org encoder3
172.20.22.219	encoder4.video.fosdem.org encoder4
172.20.22.220	encoder5.video.fosdem.org encoder5
172.20.22.221	encoder6.video.fosdem.org encoder6
{% endif %}
188.245.118.236 encoder2.video.fosdem.org encoder2
#138.201.93.12	encoder7.video.fosdem.org encoder7
#49.13.26.137	encoder8.video.fosdem.org encoder8
#188.34.187.236	encoder9.video.fosdem.org encoder9
#49.13.134.191	encoder10.video.fosdem.org encoder10
::1	localhost ip6-localhost ip6-loopback
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
