{{ ansible_managed }}
127.0.0.1	localhost
49.13.125.37    reviewstorage.video.fosdem.org reviewstorage
88.198.119.31   reviewmaster.video.fosdem.org reviewmaster
168.119.53.77   encoder1.video.fosdem.org encoder1
49.13.128.199   encoder2.video.fosdem.org encoder2
168.119.48.62   encoder3.video.fosdem.org encoder3
78.47.184.202	encoder4.video.fosdem.org encoder4
49.12.75.65	encoder5.video.fosdem.org encoder5
128.140.125.171	encoder6.video.fosdem.org encoder6
138.201.93.12	encoder7.video.fosdem.org encoder7
49.13.26.137	encoder8.video.fosdem.org encoder8
188.34.187.236	encoder9.video.fosdem.org encoder9
49.13.134.191	encoder10.video.fosdem.org encoder10
::1	localhost ip6-localhost ip6-loopback
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
