{{ ansible_eth0.ipv4.address }}	{{ ansible_fqdn }}	{{ ansible_hostname }}
10.0.0.3	encode-master.video.fosdem.org	encode-master
10.0.0.2	reviewstorage.video.fosdem.org	reviewstorage
127.0.0.1	localhost
::1	localhost ip6-localhost ip6-loopback
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
