[Unit]
Description=video-status service
After=video-streamer.service

[Service]
ExecStart=/usr/local/bin/video-status.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGTERM
Restart=always
# Nested Xephyr instance, not the default one, as
# pygame takes over the keyboard otherwise
Environment="DISPLAY=:9.0"
RestartSec=1s
StartLimitInterval=0



[Install]
WantedBy=multi-user.target
