---
- name: ensure /srv/sreview exists
  file:
    path: /srv/sreview
    state: directory

- name: ensure /srv/sreview/ paths exist
  file:
    path: /srv/sreview/{{ item }}
    state: directory
  with_items:
    - incoming
    - assets
    - storage
    - output
  when: "'cloud-encoders' not in group_names"

- name: ensure /srv/sreview paths exist for the right user
  file:
    path: /srv/sreview/{{ item }}
    owner: sreview
    group: sreview
    state: directory
  with_items:
    - incoming
    - assets
    - storage
    - output
  when: "'cloud-encoders' in group_names"
  register: sreview_paths
  ignore_errors: true

- name: ensure NFS mount software is installed
  apt:
    state: latest
    package:
    - nfs-common
  when: "'cloud-encoders' not in group_names"

- name: mount working storage
  mount:
    name: /srv/sreview/{{ item }}
    src: reviewstorage-int.video.fosdem.org:/srv/sreview/{{ item }}
    fstype: nfs
    state: mounted
  with_items:
  - assets
  - storage
  - output
  when: "'cloud-encoders' not in group_names"

- name: install sshfs
  when: "'cloud-encoders' in group_names"
  ansible.builtin.apt:
    package: sshfs
    state: present

# This doesn't work in ansible because sshfs wants to ask about trusting the ssh server and we've had enough we'll just do it manually kthxbye
#- name: sshfs the directories
#  when: "'cloud-encoders' in group_names and sreview_paths.changed is true"
#  become: yes
#  become_user: sreview
#  ansible.builtin.command:
#    cmd: sshfs sreview@reviewstorage.video.fosdem.org:{{ item.path }} {{ item.path }}
#    creates: "{{ item.path }}/{{ item.file }}"
#  with_items:
#    - path: /srv/sreview/storage
#      file: video
#    - path: /srv/sreview/assets
#      file: announce.ep
#    - path: /srv/sreview/output
#      file: "{{ fosdem_year }}"
