[Unit]
Description=bmd-receiver service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/bmd-receiver.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=always

[Install]
WantedBy=multi-user.target
