[Unit]
Description=Prometheus Node Exporter

[Service]
EnvironmentFile=-/etc/default/node_exporter
ExecStart={{ node_exporter_path }}/node_exporter -collectors.enabled ${COLLECTORS}

[Install]
WantedBy=multi-user.target
