body {
  margin: 0px;
  background: #1f212a;
  color: #fefefe;
}
img {
  width: 100%
}
td {
  /* width: 100px; */
  box-shadow: inset 0px 0px 3px #575a5f;
  background: #1f212a;
  color: #fefefe;
  padding: 2px
}

#list td > * {
  display: block;
}

h3 {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
}
