[Unit]
Description=video-recorder service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/video-recorder.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=multi-user.target
