[Unit]
Description=video-status service
After=video-streamer.service

[Service]
ExecStart=/usr/local/bin/video-status.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGTERM
Restart=always
RestartSec=1s
StartLimitInterval=0
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1


[Install]
WantedBy=multi-user.target
