[submodule "ansible/playbooks/roles/rsyslog"]
	path = ansible/playbooks/roles/rsyslog
	url = https://github.com/Oefenweb/ansible-rsyslog.git
[submodule "ansible/playbooks/roles/netzwirt.bind"]
	path = ansible/playbooks/roles/netzwirt.bind
	url = https://github.com/netzwirt/ansible-bind.git
[submodule "ansible/playbooks/roles/ansiblebit.grafana"]
	path = ansible/playbooks/roles/ansiblebit.grafana
	url = https://github.com/ansiblebit/grafana
[submodule "ansible/playbooks/roles/antoiner77.caddy"]
	path = ansible/playbooks/roles/antoiner77.caddy
	url = https://github.com/antoiner77/caddy-ansible.git
[submodule "ansible/playbooks/roles/debops.dhcpd"]
	path = ansible/playbooks/roles/debops.dhcpd
	url = https://github.com/debops/ansible-dhcpd.git
[submodule "ansible/playbooks/roles/debops.secret"]
	path = ansible/playbooks/roles/debops.secret
	url = https://github.com/debops/ansible-secret.git
[submodule "ansible/playbooks/roles/cloudalchemy.prometheus"]
	path = ansible/playbooks/roles/cloudalchemy.prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus.git
[submodule "ansible/playbooks/roles/cloudalchemy.node-exporter"]
	path = ansible/playbooks/roles/cloudalchemy.node-exporter
	url = https://github.com/cloudalchemy/ansible-node-exporter.git
