[submodule "ansible/playbooks/roles/rsyslog"]
	path = ansible/playbooks/roles/rsyslog
	url = https://github.com/Oefenweb/ansible-rsyslog.git
[submodule "ansible/playbooks/roles/netzwirt.bind"]
	path = ansible/playbooks/roles/netzwirt.bind
	url = https://github.com/netzwirt/ansible-bind.git
[submodule "ansible/playbooks/roles/ansiblebit.grafana"]
	path = ansible/playbooks/roles/ansiblebit.grafana
	url = https://github.com/ansiblebit/grafana
[submodule "ansible/playbooks/roles/antoiner77.caddy"]
	path = ansible/playbooks/roles/antoiner77.caddy
	url = https://github.com/antoiner77/caddy-ansible.git
