---
extends: default
ignore: |
  secrets.yml
  *.sh
  *.md
  ansible/playbooks/roles/antoiner77.caddy
  ansible/playbooks/roles/cloudalchemy.*
  ansible/playbooks/roles/netzwirt.bind
  ansible/playbooks/roles/paulfantom.restic
  ansible/playbooks/roles/rsyslog
  ansible/playbooks/templates/snmp_exporter/snmp.yml

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
  comments:
    level: error
  document-start:
    level: error
  indentation:
    spaces: 2
    indent-sequences: false
  line-length:
    max: 160
    level: error
  truthy:
    level: error
