[Unit]
Description=mpv service
After=xorg.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/mpv.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
