[Unit]
Description=ipmi metrics

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/local/sbin/ipmi_sensor_prometheus.py > {{ node_exporter_textfile_dir }}/ipmi.prom'
