// {{ansible_managed}}

{% if bind_acls is defined %}
{% for name, match_list in bind_acls.iteritems() %}
acl "{{name}}" {
{% for entry in match_list %}
  {{entry}};
{% endfor %}
};

{% endfor %}
{% endif %}
acl trusted {
{% for allowed in bind_recursion_allowed_clients %}
    {{allowed}};
{% endfor %}
    localhost;
    localnets;
};


options {

    directory "{{bind_cache_dir}}";

    // If there is a firewall between you and nameservers you want
    // to talk to, you may need to fix the firewall to allow multiple
    // ports to talk.  See http://www.kb.cert.org/vuls/id/800113
{% if bind_authoritative_only %}
    // turn of recursion globaly
    recursion no;
{% endif %}
    allow-query { any; };
{% if bind_authoritative_only == False %}
    allow-recursion { trusted; };
{% endif %}

{% if bind_dns64_clients is defined and bind_dns64_clients.0 is defined %}
    dns64 64:ff9b::/96 {
      clients {
{% for client in bind_dns64_clients %}
        "{{client}}";
{% endfor %}
      };
    };
{% endif %}
{% if bind_forwarders is defined and bind_forwarders.0 is defined %}
    forwarders {
{% for forward in bind_forwarders %}
        {{forward}};
{% endfor %}
    };
{% if ( bind_zones is defined and bind_zones|length )
 or ( bind_slave_for is defined and bind_slave_for.0 is defined ) %}
    dnssec-validation auto;
{% else %}
    forward only;
    dnssec-enable yes;
    dnssec-validation yes;
{% endif %}
{% endif %}

    //========================================================================
    // If BIND logs error messages about the root key being expired,
    // you will need to update your keys.  See https://www.isc.org/bind-keys
    // Delete 'bind.keys' in your config directory and re-run ansible provisioning 
    //========================================================================

    auth-nxdomain no;    # conform to RFC1035
    listen-on-v6 { any; };
{% if bind_listen is defined and bind_listen.0 is defined %}    
    listen-on { 
{% for listen in bind_listen %}
        {{listen}};
{% endfor %}
    };
{% endif %}
};
