// {{ansible_managed}}

// This is the primary configuration file for the BIND DNS server named.
//
// Please read /usr/share/doc/bind9/README.Debian.gz for information on the
// structure of BIND configuration files in Debian, *BEFORE* you customize
// this configuration file.
//
// If you are just adding zones, please do that in {{bind_config_dir}}/named.conf.local

include "{{bind_config_dir}}/named.conf.options";
include "{{bind_config_dir}}/named.conf.local";
include "{{bind_config_dir}}/named.conf.default-zones";
