[Unit]
Description=fazantix service

[Service]
ExecStart=/opt/fazantix/run.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGTERM
Restart=always
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
DefaultInstance=tty1
