[Unit]
Description = voctomix source background
After = voctocore.service
Requires = voctocore.service

[Service]
Type = simple
ExecStart = /opt/scripts/source-background.sh
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = voctocore.service
