[Unit]
Description = voctomix streaming sink
After = voctocore.service
Requires = voctocore.service

[Service]
Type = simple
ExecStart = /opt/scripts/sink-streaming.sh
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = voctocore.service
