default:
  auth:
    community: {{snmp_community_default}}
  walk:
  - 1.3.6.1.2.1.1.3 # sysUpTime
  - 1.3.6.1.2.1.2.2 # ifTable
  - 1.3.6.1.2.1.31.1.1 # ifXTable
  metrics:
  - name: sysUpTime
    oid: 1.3.6.1.2.1.1.3
  - name: ifIndex
    oid: 1.3.6.1.2.1.2.2.1.1
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifType
    oid: 1.3.6.1.2.1.2.2.1.3
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifMtu
    oid: 1.3.6.1.2.1.2.2.1.4
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifSpeed
    oid: 1.3.6.1.2.1.2.2.1.5
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifAdminStatus
    oid: 1.3.6.1.2.1.2.2.1.7
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifOperStatus
    oid: 1.3.6.1.2.1.2.2.1.8
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifLastChange
    oid: 1.3.6.1.2.1.2.2.1.9
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifInOctets
    oid: 1.3.6.1.2.1.2.2.1.10
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifInUcastPkts
    oid: 1.3.6.1.2.1.2.2.1.11
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifInNUcastPkts
    oid: 1.3.6.1.2.1.2.2.1.12
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifInDiscards
    oid: 1.3.6.1.2.1.2.2.1.13
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifInErrors
    oid: 1.3.6.1.2.1.2.2.1.14
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifInUnknownProtos
    oid: 1.3.6.1.2.1.2.2.1.15
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifOutOctets
    oid: 1.3.6.1.2.1.2.2.1.16
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifOutUcastPkts
    oid: 1.3.6.1.2.1.2.2.1.17
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifOutNUcastPkts
    oid: 1.3.6.1.2.1.2.2.1.18
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifOutDiscards
    oid: 1.3.6.1.2.1.2.2.1.19
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifOutErrors
    oid: 1.3.6.1.2.1.2.2.1.20
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifOutQLen
    oid: 1.3.6.1.2.1.2.2.1.21
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifInMulticastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.2
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifInBroadcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.3
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifOutMulticastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.4
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifOutBroadcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.5
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifHCInOctets
    oid: 1.3.6.1.2.1.31.1.1.1.6
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifHCInUcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.7
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifHCInMulticastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.8
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifHCInBroadcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.9
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifHCOutOctets
    oid: 1.3.6.1.2.1.31.1.1.1.10
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifHCOutUcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.11
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifHCOutMulticastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.12
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifHCOutBroadcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.13
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifLinkUpDownTrapEnable
    oid: 1.3.6.1.2.1.31.1.1.1.14
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifHighSpeed
    oid: 1.3.6.1.2.1.31.1.1.1.15
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifPromiscuousMode
    oid: 1.3.6.1.2.1.31.1.1.1.16
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifConnectorPresent
    oid: 1.3.6.1.2.1.31.1.1.1.17
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
  - name: ifCounterDiscontinuityTime
    oid: 1.3.6.1.2.1.31.1.1.1.19
    indexes:
    - labelname: ifIndex
      type: Integer
    lookups:
    - labels:
      - ifIndex
      labelname: ifDescr
      oid: 1.3.6.1.2.1.2.2.1.2
    - labels:
      - ifIndex
      labelname: ifName
      oid: 1.3.6.1.2.1.31.1.1.1.1
    - labels:
      - ifIndex
      labelname: ifAlias
      oid: 1.3.6.1.2.1.31.1.1.1.18
cisco_wlc:
  auth:
    community: {{snmp_community_wlc}}
  walk:
  - 1.3.6.1.2.1.2
  - 1.3.6.1.2.1.31.1.1
  - 1.3.6.1.4.1.14179.2.1.1.1.2
  - 1.3.6.1.4.1.14179.2.1.1.1.38
  - 1.3.6.1.4.1.14179.2.2.1.1.3
  - 1.3.6.1.4.1.14179.2.2.13.1.3
  - 1.3.6.1.4.1.14179.2.2.15.1.21
  - 1.3.6.1.4.1.14179.2.2.2.1.15
  - 1.3.6.1.4.1.14179.2.2.2.1.2
  - 1.3.6.1.4.1.14179.2.2.2.1.4
  - 1.3.6.1.4.1.14179.2.2.6.1
  metrics:
  - name: ifNumber
    oid: 1.3.6.1.2.1.2.1
  - name: ifIndex
    oid: 1.3.6.1.2.1.2.2.1.1
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifType
    oid: 1.3.6.1.2.1.2.2.1.3
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifMtu
    oid: 1.3.6.1.2.1.2.2.1.4
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifSpeed
    oid: 1.3.6.1.2.1.2.2.1.5
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifAdminStatus
    oid: 1.3.6.1.2.1.2.2.1.7
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifOperStatus
    oid: 1.3.6.1.2.1.2.2.1.8
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifLastChange
    oid: 1.3.6.1.2.1.2.2.1.9
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifInOctets
    oid: 1.3.6.1.2.1.2.2.1.10
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifInUcastPkts
    oid: 1.3.6.1.2.1.2.2.1.11
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifInNUcastPkts
    oid: 1.3.6.1.2.1.2.2.1.12
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifInDiscards
    oid: 1.3.6.1.2.1.2.2.1.13
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifInErrors
    oid: 1.3.6.1.2.1.2.2.1.14
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifInUnknownProtos
    oid: 1.3.6.1.2.1.2.2.1.15
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifOutOctets
    oid: 1.3.6.1.2.1.2.2.1.16
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifOutUcastPkts
    oid: 1.3.6.1.2.1.2.2.1.17
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifOutNUcastPkts
    oid: 1.3.6.1.2.1.2.2.1.18
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifOutDiscards
    oid: 1.3.6.1.2.1.2.2.1.19
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifOutErrors
    oid: 1.3.6.1.2.1.2.2.1.20
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifOutQLen
    oid: 1.3.6.1.2.1.2.2.1.21
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifInMulticastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.2
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifInBroadcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.3
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifOutMulticastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.4
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifOutBroadcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.5
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifHCInOctets
    oid: 1.3.6.1.2.1.31.1.1.1.6
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifHCInUcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.7
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifHCInMulticastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.8
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifHCInBroadcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.9
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifHCOutOctets
    oid: 1.3.6.1.2.1.31.1.1.1.10
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifHCOutUcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.11
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifHCOutMulticastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.12
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifHCOutBroadcastPkts
    oid: 1.3.6.1.2.1.31.1.1.1.13
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifLinkUpDownTrapEnable
    oid: 1.3.6.1.2.1.31.1.1.1.14
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifHighSpeed
    oid: 1.3.6.1.2.1.31.1.1.1.15
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifPromiscuousMode
    oid: 1.3.6.1.2.1.31.1.1.1.16
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifConnectorPresent
    oid: 1.3.6.1.2.1.31.1.1.1.17
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: ifCounterDiscontinuityTime
    oid: 1.3.6.1.2.1.31.1.1.1.19
    indexes:
    - labelname: ifIndex
      type: Integer
  - name: bsnDot11EssNumberOfMobileStations
    oid: 1.3.6.1.4.1.14179.2.1.1.1.38
    indexes:
    - labelname: bsnDot11EssIndex
      type: Integer
    lookups:
    - labels:
      - bsnDot11EssIndex
      labelname: bsnDot11EssSsid
      oid: 1.3.6.1.4.1.14179.2.1.1.1.2
  - name: bsnAPIfLoadChannelUtilization
    oid: 1.3.6.1.4.1.14179.2.2.13.1.3
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDBNoisePower
    oid: 1.3.6.1.4.1.14179.2.2.15.1.21
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    - labelname: bsnAPIfNoiseChannelNo
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnApIfNoOfUsers
    oid: 1.3.6.1.4.1.14179.2.2.2.1.15
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfType
    oid: 1.3.6.1.4.1.14179.2.2.2.1.2
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfPhyChannelNumber
    oid: 1.3.6.1.4.1.14179.2.2.2.1.4
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11TransmittedFragmentCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.1
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11MulticastTransmittedFrameCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.2
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11RetryCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.3
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11MultipleRetryCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.4
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11FrameDuplicateCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.5
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11RTSSuccessCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.6
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11RTSFailureCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.7
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11ACKFailureCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.8
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11ReceivedFragmentCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.9
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11MulticastReceivedFrameCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.10
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11FCSErrorCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.11
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11TransmittedFrameCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.12
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11WEPUndecryptableCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.13
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
  - name: bsnAPIfDot11FailedCount
    oid: 1.3.6.1.4.1.14179.2.2.6.1.33
    indexes:
    - labelname: bsnAPDot3MacAddress
      type: PhysAddress48
    - labelname: bsnAPIfSlotId
      type: Integer
    lookups:
    - labels:
      - bsnAPDot3MacAddress
      labelname: bsnAPName
      oid: 1.3.6.1.4.1.14179.2.2.1.1.3
