{{ template "head" . }}

{{ template "prom_right_table_head" }}
{{ template "prom_right_table_tail" }}

{{ template "prom_content_head" . }}
<h1>Prometheus Live Demo</h1>
<p>This is a live demo of the Prometheus monitoring system.
</p>

<p>Components included:
<ul>
  <li><a href="http://demo.robustperception.io:9090">Prometheus</a> - Main server</li>
  <li><a href="http://demo.robustperception.io:9100">Node Exporter</a> - Machine metrics</li>
  <li><a href="http://demo.robustperception.io:9093">Alertmanager</a> - Alert aggregation and routing</li>
  <li><a href="http://demo.robustperception.io:9091">Push Gateway</a> - Batch jobs push metrics here</li>
</ul>
</p>

<p>This is a simple single-machine setup. Check out the links above and on the menu to the left.</p>

</p>
For more information about Prometheus see the <a href="http://prometheus.io/docs/introduction/overview/">official project documentation</a>.
</p>

<p>The <a href="life.html">Conway's Life in Prometheus live demo</a> is also hosted here.</p>

<h3>About</h3>

This demo is provided by <a href="http://www.robustperception.io">Robust Perception</a>.
We also provide the <a href="https://github.com/RobustPerception/demo_prometheus_ansible">Ansible playbooks</a>
used to configure it.</p>

{{ template "prom_content_tail" . }}

{{ template "tail" }}
