<html>
<head>
  <meta http-equiv="refresh" content="1">
</head>
<body>
  <h1>Conway's Life in Prometheus</h1>

  <table style="border-collapse: collapse;">
  {{ range query "grid" | sortByLabel "x" | sortByLabel "y" }}
  {{ if eq .Labels.x "1" }}<tr>{{end}}
  <td style="background-color: {{if eq .Value 1.0}}black{{else}}white{{end}}; width: 10px; height: 10px; border: 1px solid black;">&nbsp;</td>
  {{ if eq .Labels.x "1111111111111111" }}</tr>{{end}}
  {{ end }}
  </table>

  <p>
  See the <a href="http://www.robustperception.io/conways-life-in-prometheus/">blog post</a>, 
  <a href="https://github.com/RobustPerception/demo_prometheus_ansible/tree/master/roles/prometheus/files">source code</a>
  or have a look at the <a href="index.html">Prometheus live demo</a>.
  </p>
</body>
</html>
