# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

  external_labels:
      monitor: 'server001.fosdem.net'

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "rules/node.rules"
  # - "second.rules"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in hostvars %}
        - {{ host }}:9100
{% endfor %}

  - job_name: 'snmp_default'
    scrape_interval: 30s
    scrape_timeout: 30s
    static_configs:
      - targets:
{% for host in prometheus_snmp_default_targets %}
        - {{ host }}
{% endfor %}
    metrics_path: /snmp
    params:
      module: [default]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9116  # SNMP exporter.

  - job_name: 'snmp_wlc'
    scrape_interval: 60s
    scrape_timeout: 10s
    static_configs:
      - targets:
        - 172.33.17.250
    metrics_path: /snmp
    params:
      module: [cisco_wlc]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9116  # SNMP exporter.

  - job_name: 'caddy'
    static_configs:
      - targets:
        - localhost:9180

  - job_name: 'avq'
    scrape_interval: "1s"
    file_sd_configs:
    - files:
      - {{ prometheus_config_path }}/avq.yml

  - job_name: 'swag'
    scrape_interval: "15s"
    metrics_path: /stats/stats.php
    static_configs:
      - targets:
        - fosdem.thepreview.be
