[Unit]
Description= primary rtmp stream cast service

[Service]
ExecStart=/opt/scripts/streamcast.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=multi-user.target
