[Unit]

{% for room in video_rooms %}
{% if inventory_hostname ==  room + "-voctop.video.fosdem.org" %}

Description={{ room }} audio-fetcher

[Service]
ExecStart=/usr/local/bin/audio-fetcher {{ room }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=on-failure

{% endif %}
{% endfor %}

[Install]
WantedBy=multi-user.target
