[Unit]
Description={{ item }} vlc fetcher service
PartOf=fetcher.target

[Service]
ExecStart=/usr/local/bin/fetcher.sh tcp://{{ item }}-voctop.video.fosdem.org:8899/?timeout=3000000 {{ item }}
KillMode=control-group
KillSignal=SIGKILL
Restart=always
RestartSec=3
User=www-data
Group=www-data

[Install]
WantedBy=fetcher.target
