[Unit]
Description={{ item }} fetcher dump service
PartOf=vlc-fetcher.target

[Service]
ExecStart=/usr/local/bin/vlc-fetcher.sh tcp://{{ item }}-voctop.video.fosdem.org:8899/ {{ item }}
KillMode=control-group
KillSignal=SIGKILL
Restart=always
RestartSec=3
User=www-data
Group=www-data

[Install]
WantedBy=vlc-fetcher.target
