[django]
hosts=*

[c3nav]
datadir=/opt/c3nav/data
logdir=/var/log/c3nav/
header_logo=/opt/c3nav/data/media/logo.png
# primary_color=#a41c31
# header_background_color=#000000

# should be enabled if tilecaching is used
# tile_access_cookie_domain=.nav-test.fosdem.org
# tile_cache_server=https://tiles.nav-test.fosdem.org/


[database]
backend=postgresql
user=c3nav
name=c3nav

[redis]
location=redis://localhost/0

[celery]
broker=redis://localhost/1
backend=redis://localhost/2
