[Unit]

Description=audio-fetcher chan 0

[Service]
ExecStart=/usr/local/bin/audio-fetcher 0
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=multi-user.target
