#!/usr/sbin/nft -f

{{ ansible_managed | comment }}

flush ruleset

table inet filter {
	chain input {
		type filter hook input priority 0; 
		policy drop;
		iif lo accept
		ct state established,related accept
		ip6 nexthdr icmpv6 accept
		ip protocol icmp accept
		ip saddr 172.20.22.210/24 accept
		tcp dport {ssh,http,https,5432,6444,6445} accept
	}

	chain forward {
		type filter hook forward priority 0; policy accept;
	}

	chain output {
		type filter hook output priority 0; policy accept;
	}
}
