[Unit]
Description=Video Recording

[Service]
ExecStart=/root/bmd-streamer -f /root/ -B -S hdmi -k 1000 -x /root/tsSink.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
