[Unit]
Description=lcd service
After=bmdstreamer.service

[Service]
ExecStart=/usr/bin/links2 -g -html-auto-refresh 1 -menu-font-size 1  file:///mnt/ssd/statuspage/output.html
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=multi-user.target
