[Unit]
Description = voctomix source for prerecorded recording of talk id %I
After = voctocore.service
Requires = voctocore.service

[Service]
Type = simple
ExecStart = /opt/scripts/source-recording.sh %I
