[Unit]
Description=Voctomix source prerecorded video timer template

[Timer]
Unit=vocto-source-recording@%i.service
OnCalendar=2020-12-14 21:19:00
Persistent=false

[Install]
WantedBy=timers.target
