# TACACS key
key = "{{ tacplus_key }}"

# Users
user = msuriar {
    member = netadmin
}


group = netadmin {
    default service = permit
    service = exec {
        priv-lvl = 15
    }
}


accounting file = /var/log/tacacs/tac_plus.log
