apiVersion: v1
kind: ConfigMap
metadata:
  name: upload-rsync-script
data:
  upload-rsync: |
    #!/usr/bin/perl -w
    
    use v5.30;
    use SReview::Config::Common;
    use SReview::Files::Factory;
    use SReview::Talk;
    
    my $config = SReview::Config::Common::setup();
    my $collection = SReview::Files::Factory->create("intermediate", $config->get("pubdir"));
    my $talk = SReview::Talk->new(talkid => shift);
    $talk->set_state("uploading","running");
    say "uploading talk for penta event " . $talk->upstreamid;
    my $main = $talk->relative_name . "/main.mp4";
    say $main;
    my $file = $collection->get_file(relname => $main);
    my @cmd = ("rsync","-avHP", "-e", "ssh -o StrictHostKeyChecking=no -i /opt/ssh/id_ed25519",$file->filename, 'sreview@' . $talk->_get_pathinfo->{raw}{room_output} . "-vocto.video.fosdem.org:/mnt/video/" . $talk->upstreamid . ".mp4");
    say "'" . join( "', '", @cmd) . "'";
    system(@cmd);
    $talk->state_done("uploading");
---
apiVersion: v1
kind: Secret
metadata:
  name: sshkey
stringData:
  id_ed25519: "{{ secret.sshkey }}"
---
apiVersion: kubequeue.grep.be/v1
kind: JobQueue
metadata:
  name: sreview-queue
spec:
  maxJobs: 6
---
apiVersion: kubequeue.grep.be/v1
kind: JobQueue
metadata:
  name: sreview-hiprio
spec:
  maxJobs: 10
---
apiVersion: kubequeue.grep.be/v1
kind: JobDef
metadata:
  name: sreview-previews
spec:
  jobTemplate:
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: test
    spec:
      template:
        metadata:
          name: sreview
        spec:
          containers:
          - command:
            - sreview-previews
            image: registry.salsa.debian.org/debconf-video-team/sreview/encoder:{{ sreview.imagelabel }}
            name: worker
          restartPolicy: OnFailure
  queueName: sreview-hiprio
---
apiVersion: kubequeue.grep.be/v1
kind: JobDef
metadata:
  name: sreview-cut
spec:
  jobTemplate:
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: test
    spec:
      template:
        metadata:
          name: sreview
        spec:
          containers:
          - command:
            - sreview-skip
            image: registry.salsa.debian.org/debconf-video-team/sreview/encoder:{{ sreview.imagelabel }}
            name: worker
          restartPolicy: OnFailure
  queueName: sreview-hiprio
---
apiVersion: kubequeue.grep.be/v1
kind: JobDef
metadata:
  name: sreview-upload
spec:
  jobTemplate:
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: test
    spec:
      template:
        metadata:
          name: sreview
        spec:
          containers:
          - command:
            - /opt/script/upload-rsync
            image: registry.salsa.debian.org/debconf-video-team/sreview/encoder:{{ sreview.imagelabel }}
            name: worker
            volumeMounts:
            - name: script
              readOnly: true
              mountPath: /opt/script
            - name: sshkey
              readOnly: true
              mountPath: /opt/ssh
          volumes:
          - name: script
            configMap:
              name: upload-rsync-script
              defaultMode: 0755
          - name: sshkey
            secret:
              secretName: sshkey
              defaultMode: 0600
          restartPolicy: OnFailure
  queueName: sreview-hiprio
---
apiVersion: kubequeue.grep.be/v1
kind: JobDef
metadata:
  name: sreview-inject-job
spec:
  jobTemplate:
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: test
    spec:
      template:
        metadata:
          name: sreview
        spec:
          containers:
          - command:
            - sreview-inject-job
            image: registry.salsa.debian.org/debconf-video-team/sreview/encoder:{{ sreview.imagelabel }}
            name: worker
          restartPolicy: OnFailure
  queueName: sreview-hiprio
---
apiVersion: kubequeue.grep.be/v1
kind: JobDef
metadata:
  name: sreview-transcode
spec:
  jobTemplate:
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: test
    spec:
      template:
        metadata:
          name: sreview
        spec:
          containers:
          - command:
            - sreview-skip
            image: registry.salsa.debian.org/debconf-video-team/sreview/encoder:{{ sreview.imagelabel }}
            name: worker
          restartPolicy: OnFailure
  queueName: sreview-queue
---
apiVersion: kubequeue.grep.be/v1
kind: JobDef
metadata:
  name: sreview-notify-final
spec:
  jobTemplate:
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: test
    spec:
      template:
        metadata:
          name: sreview
        spec:
          containers:
          - command:
            - sreview-skip
            image: registry.salsa.debian.org/debconf-video-team/sreview/encoder:{{ sreview.imagelabel }}
            name: worker
          restartPolicy: OnFailure
  queueName: sreview-hiprio
---
apiVersion: kubequeue.grep.be/v1
kind: JobDef
metadata:
  name: sreview-announce
spec:
  jobTemplate:
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: test
    spec:
      template:
        metadata:
          name: sreview
        spec:
          containers:
          - command:
            - sreview-skip
            image: registry.salsa.debian.org/debconf-video-team/sreview/encoder:{{ sreview.imagelabel }}
            name: worker
          restartPolicy: OnFailure
  queueName: sreview-hiprio
---
apiVersion: kubequeue.grep.be/v1
kind: JobDef
metadata:
  name: sreview-notify
spec:
  jobTemplate:
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: test
    spec:
      template:
        metadata:
          name: sreview
        spec:
          containers:
          - command:
            - sreview-skip
            image: registry.salsa.debian.org/debconf-video-team/sreview/encoder:{{ sreview.imagelabel }}
            name: worker
          restartPolicy: OnFailure
  queueName: sreview-hiprio
