[Unit]
Description=bmd-streamer monitoring service
Before=bmdstreamer.service

[Service]
ExecStart=/usr/local/bin/bmd-monitor.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=multi-user.target
