{{ ansible_managed | comment }}
deb http://deb.debian.org/debian/ {{ansible_distribution_release}} main contrib non-free
deb http://deb.debian.org/debian/ {{ansible_distribution_release}}-backports main contrib non-free
deb http://deb.debian.org/debian/ {{ansible_distribution_release}}-updates main contrib non-free
deb http://security.debian.org/ {{ansible_distribution_release}}/updates main contrib non-free
