[Unit]
Description=video preview service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/preview.sh
ExecReload=/bin/kill -9 $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
