[Unit]
Description=MistServer
After=networkmanager.service

[Service]
Type=simple
ExecStart=/root/MistServer/MistController -c /etc/mistserver.conf
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
