deb http://httpredir.debian.org/debian/ {{ansible_distribution_release}} main contrib non-free
deb http://httpredir.debian.org/debian/ {{ansible_distribution_release}}-updates main contrib non-free
deb http://security.debian.org/ {{ansible_distribution_release}}/updates main contrib non-free
