[Unit]
Description=video-status service
After=video-streamer.service

[Service]
ExecStart=/usr/local/bin/video-status.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=always

[Install]
WantedBy=multi-user.target
