---

- name: "install packages"
  apt:
    state: latest
    package:
    - tuned

- name: "set tuned profile"
  shell:
    cmd: tuned-adm profile throughput-performance

- name: "copy grub cfg for disabling mitigations"
  copy:
    src: grub/mitigations.cfg
    dest: /etc/default/grub.d/mitigations.cfg
    owner: root
    group: root
    mode: 0644
  register: grubopt

- name: "copy grub cfg for disabling higher c-states"
  copy:
    src: grub/cstate.cfg
    dest: /etc/default/grub.d/cstate.cfg
    owner: root
    group: root
    mode: 0644
  register: grubopt2


- name: update GRUB config
  shell: update-grub

- name: reboot if GRUB options have changed
  reboot:
    reboot_timeout: 120
    pre_reboot_delay: 35
  when: grubopt.changed or grubopt2.changed

