<!DOCTYPE html>
<html>
  <head>
    <title>Config.video.fosdem.org - all cameras</title>
    <style>
      img { 
        height: 100px;
      }
      td {
        width: 100px;
      }
    </style>
    <script>
      setInterval(function(){
        images = document.getElementsByTagName('img');
        for(var i = 0; i < images.length; i++) {
          src = images[i].src + '?';
          src = src.split('?')[0]
          images[i].src = src + '?' + Date.now()
        }

      }, 10000);
    </script>
  </head>

  <body>
    <table border="1">
      <tr>
{% roomcount = 0 %}
{% for room in rooms %}
{%   if room.recorded %}
{%      roomcount++ %}
        <td>
          {{ room.name }}<br/>
	  <a href='tcp://{{ room.streamname }}-cam.local:8899'>
	    <img src="{{ room.streamname }}/cam.jpg"/>
	  </a>
	  <br/>
        </td>
{%     if roomcount >= 10 %}
{%       roomcount = 0 %}
      </tr>
      <tr>
{%     endif %}
{%   endif %}
{% endfor %}
      </tr>
    </table>
  </body>

</html>

