[Unit]
Description={{ item }} FR audio parser service

[Service]
ExecStart=/usr/local/bin/audio-fetcher {{ item }} 1
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
