[Unit]
Description={{ item.host }} stream dump service
PartOf=streamdump.target

[Service]
ExecStart=/usr/local/bin/streamdump.sh {{ item.source }} /mnt/storage/{{ item.host }}/
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=streamdump.target
