# {{ ansible_managed }}

server {
  listen 80;
  listen [::]:80;
  server_name review.video.fosdem.org;

  root /var/www/html;

  index index.html;
  
  location /.well-known/ {
    alias {{ letsencrypt_well_known_dir }}/.well-known/;
  }

  location / {
    return 301 https://$host$request_uri;
  }
}
