# {{ ansible_managed }}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name review.video.fosdem.org;

  ssl_certificate /etc/ssl/ansible/certs/sreview-web.fullchain.pem;
  ssl_certificate_key /etc/ssl/ansible/private/sreview-web.key;
  client_max_body_size 2G;

  add_header Strict-Transport-Security max-age=15768000;

  root /var/www/html;

  index index.html;

  location / {
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Upgrade $http_upgrade;

    proxy_pass http://localhost:8080/;
  }

  location /video {
    root /srv/sreview/storage;
  }
  location /pages {
    root /var/www/html/;
  }

  access_log /var/log/nginx/sreview-access.log;
  error_log /var/log/nginx/sreview-error.log;
  error_page 502 /pages/maint.html;
}
