[Unit]
Description=update-statuspage service
After=lcd.service

[Service]
ExecStart=/usr/local/bin/update-statuspage.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=multi-user.target
