[Unit]
Description=bmd-streamer service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/bmd-streamer.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
KillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=multi-user.target
