#!/bin/bash
{{ ansible_managed | comment }}
#
# Description: Shutodwn all processes using the mounted SSD.

lsof |
  grep /mnt/ssd/ |
  sed 's/\s\s*/ /g' |
  cut -d' ' -f 2 |
  sort -u |
  while read line; do
    systemctl stop $(systemctl status "${line}" | head -n 1 | cut -d' ' -f 2)
  done
