[Unit]
Description=uWSGI c3nav tileserver

[Service]
ExecStart=/opt/c3nav/env/bin/uwsgi --ini /etc/c3nav/c3nav-tiles.ini
WorkingDirectory=/opt/c3nav/src
User=c3nav
Group=www-data
Environment=C3NAV_UPSTREAM_BASE=https://{{upstream}}/
Environment=C3NAV_TILE_SECRET_FILE=/opt/c3nav/data/.tile_secret

[Install]
WantedBy=multi-user.target
